<div class="modal-header">
	<h3 class="modal-title">Email Mockup</h3>
</div>

<div class="modal-body">
	<p class="text-muted">This modal is for demo purposes only. The app will actually send an email to the user requesting confirmation.</p>

	<p><strong>To:</strong> {{fakeEmailCtrl.signupResponse.to_email}}</p>

	<p>You have requested the Dashpay username <strong>{{fakeEmailCtrl.signupResponse.to_uid}}</strong>.</p> 

	<p>Please validate your account by going to <a ng-click="fakeEmailCtrl.confirmEmail()" href="">https://dashevolution.com/</a>.</p> 
</div>

<div class="modal-footer">	
	<button class="btn btn-default" ng-click="fakeEmailCtrl.cancel()">Close</button>
</div>