<div ng-if="confirmCtrl.showLoading">
	Validating your account, please stand by...
</div>

<div ng-if="confirmCtrl.success">
	<h1>Signup Complete</h1>

	<p>Welcome, <strong>{{confirmCtrl.confirmation.username}}</strong>!</p>

	<p>Your email has been confirmed and you are ready to use Dash Evolution.</p>

	<p>Our prototype wallet will be released soon, please check back for an update!<p>

	<p>If you'd like to compile the latest version yourself without waiting, please grab the latest version from our <a href="https://github.com/evan82/electrum-dash/tree/v13-evo-demo">Github</a>.)</p>
</div>